*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

header {
    border-bottom: 3px solid #000000;
    padding-top: 40px; 
    padding-bottom: 5px; 
    margin-bottom: 25px;
}

header h3 {
    margin: 0; 
    font-size: 1.2em;
    font-family: sans-serif; 
    color: #2e2c2c; 
}

main {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1200px; 
    margin: 0 auto; 
}

main h1 {
    font-size: 2.5em; 
    color: #4a4a4a;
    margin-bottom: 15px; 
    font-weight: 700;
}

main h2 {
    font-size: 1.2em; 
    color: #6a6a6a;
    margin-bottom: 30px; 
    font-weight: 400;
}

main li {
    margin-bottom: 10px; 
    font-size: 1em; 
    color: #333;
    padding-left: 5px; 
}

.Minha-foto {
    width: 20%;
}

.Minha-foto img {
    max-width: 90%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.apresentacao-e-foto {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 40px; 
}

.texto-apresentacao {
    width: 80%;
}

    
.texto-apresentacao, .Minha-foto {
        width: 100%;
    }

.Minha-foto {
        order: -1;
        margin-bottom: 20px;
    }
